html {
    scroll-behavior: smooth;
    height: auto;
}

body{
    background-color: rgb(211,211,211);
}

.nav {
    color: black;
}

#navigation_bars {
    display: flex;
}

#left_bar {
    margin-top: 50px;
    margin-left: 25px;
    height: 500px;
    width: 225px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#navbaritems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 504px;
    font-family: 'Recursive', sans-serif;
}

#top_bar {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    height: 100px;
    width: 1300px;
    border: 2px black solid;
    background-color: rgb(7, 7, 7);
}

#top_bar img {
    width: 100px;
}

form {
    color: white;
    font-size: 25px;
    margin: 40px;
    margin-left: 800px;
}

button {
    width: 60px;
    height: 25px;
}

#racialD {
    text-align: center;
    background-color: grey;
    margin-top: 25px;
    margin-left: 7.5px;
}

.a_tag {
    text-decoration: none;
    color: black;
}

.a_tag p {
    font-family: 'Recursive', sans-serif;
    font-size: 25px;
    color: #FF6347;
}

#environmental {
    text-align: center;
    background-color: #90EE90;
    margin-top: 25px;
    margin-left: 7.5px;
}

#globalP {
    text-align: center;
    background-color: skyblue;
    margin-top: 25px;
    margin-left: 7.5px;
}

#currentE {
    text-align: center;
    background-color: #fdfd96;
    margin-top: 25px;
    margin-left: 7.5px;
}

.homemodule {
    width:630px;
    height:530px;
    margin-left: auto;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

#level1 {
    display: flex;
    margin-left: 10px;
}

#level2 {
    display: flex;
    margin-left: 10px;
}

#levels {
    display: flex;
    flex-direction: column;
}

#CovidMap {
    width: 500px;
    height: 300px;
}

#COVIDcount {
    width: 550px;
    height: 145px;
    border-radius: 10px;
    border: solid 2px white;
    border-radius: 10px;
    border: black solid 2px;
}

#explosion {
    width: 550px;
    border-radius: 10px;
    border: black solid 2px;
}

#ban {
    color: red;
}

#protest {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    border: solid 2px white;
}

#polar_bear {
    width: 450px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: black solid 2px;
}

#ice_mass {
    width: 600px;
    height: 185px;
    border-radius: 10px;
    border: black solid 2px;
}