body {
    background-color: rgb(211,211,211);
}

#current {
    text-align: center;
}

#level1 {
    display: flex;
    justify-content: center;
}

#level1 iframe {
    border-radius: 10px;
}

#level1 h3 {
    margin-left: 20px;
    margin-top: 200px;
}

#level2 {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#level2 iframe {
    border-radius: 10px;
}

#level2 h3 {
    width: 490px;
    margin-left: 20px;
    margin-top: 200px;
}

#description {
    text-align: center;
}

#images {
    text-align: center;
}

#lebanon {
    width: 750px;
}

#homelogo {
    width: 50px;
    height:50px;
    display:flex;
    margin-left: 10px;
}