#environmental h1 {
    text-align: center;
}

#graph {
    text-align: center;
}

#level1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: 'Recursive', sans-serif;
}

#GT {
    padding: 10px;
    width: 737px;
    border: 3px solid black;
}

#SI {
    padding: 10px;
    width: 737px;
    border: 3px solid black;
}

#level2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: 'Recursive', sans-serif;
}

#CD {
    padding: 10px;
    width: 737px;
    border: 3px solid black;
}

#ice {
    padding: 10px;
    width: 737px;
    border: 3px solid black;
}

#videos {
    text-align: center;
    margin-top: 20px;
}